<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit a Blog</title>
    <!-- CSS Styles -->
    <link rel="stylesheet" href="../../component/styles/styles.css">
    <link rel="stylesheet" href="../../component/styles/navbar.css">
    <link rel="stylesheet" href="../../component/styles/editBlog.css">
    <!-- Fonts  &  Icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;700&display=swap" rel="stylesheet">
    
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar">
        <div class="logo">
            <a href="../../../blog.html">
                <img src="../../img/logo-alkemy.png" alt="Alkemy">
            </a>
            <span>Blog</span>
        </div>


        <input type="checkbox" id="check">
        <label for="check" id="icon">
            <i class="fa fa-th-large"></i>
        </label>


        <ul class="listaMenu">
            <li><a class="menuChild" href="../../../blog.html">Home</a></li>
        </ul>
        
    </nav>

    <section class="blogCreation">
        <div class="mainTitle">
            <h1>BloggKeymer</h1>
            <p>What do you need to update?</p>
        </div>

        <!-- Post section -->

        <div class="createPostContainer">
            <form id="formulario">
                <div>
                    <input name="idBlog" id="idBlog" type="number" placeholder="ID del Blog">
                </div>
                <div>
                    <input type="text" id="title" name="title" placeholder="Nuevo Titulo">
                </div>
                <div>
                    <textarea name="text" id="text" cols="30" rows="10" placeholder="Cambios en el Blog..."></textarea>
                </div>
                <div>
                    <input type="date" name="fecha" id="fecha">
                </div>
                <button id="sendPost" type="submit">Editar Blog</button>
            </form>
        </div>

    </section>

    <!-- Axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="../script/methodPut.js"></script>
</body>
</html>